    <section class="section about" id="about">
        
        <div class="section-heading full-width" id="about-text">About Me</div>
        <div>
            <div class="about-grid aboutBoxList">
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/person-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">이름</div>
                            <div>김상재</div>
                        </div>
                    </div>
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/calendar-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">생년월일</div>
                            <div>1992.12.17</div>
                        </div>
                    </div>
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/geo-alt-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">주소지</div>
                            <div>대전광역시 중구 대종로</div>
                        </div>
                    </div>
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/telephone-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">연락처</div>
                            <div>010-6886-6510</div>
                        </div>
                    </div>
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/envelope-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">이메일</div>
                            <div>jjgod66@naver.com</div>
                        </div>
                    </div>
                    <div class="aboutBox">
                        <div class="aboutIcon"><img src="../assets/images/profile/pencil-fill.svg"></div>
                        <div class="aboutInfo">
                            <div class="infoTitle">학력</div>
                            <div>목원대학교(관현악학부) 졸업</div>
                        </div>
                    </div>
            </div>
        </div>
    </section>